{% extends "base.html" %}
{% block title %}My awesome blog{% endblock title %}
{% block content %}
<h1>Welcome to my blog</h1>
<p>I hope you find by blog interesting :)</p>
<ul>{% for collection in app_data.collections %}
    <li>{{ collection }}</li>
    <ul>
    {% for post in app_data.posts %}
    {% if collection in post.collection %}
<li><a href="/{{ post.url }}">{{ post.frontmatter.title }} ({{ post.date }})</a></li>
{% endif %}
{% endfor %}
    </ul>
    {% endfor %}
</ul>


{% endblock content %}